<style type="text/css">
    .scroll-content {
        background: url('./img/background20.png');
    }
</style>

<ion-view view-title="Category 5 Scouting App">
  <ion-content>
    <h3 class="padding">During the testing phase, if you need data
        in the app, you must load it first. To load it, tap the 
        button in the upper left corner of the screen, tap the 
        Settings option, and then tap the Load test data button.
        Wait for the message that indicates that the data has 
        completed loading, and then you can open the other screens
        to test the app's functionality.</h3>
  </ion-content>
</ion-view>