<ion-view view-title="Category 5 Scouting App">
  <ion-content>
    <p class="padding">This app has four screens, acessible from the "hamburger 
    button" at the top left of the screen. Use the <b>Pit Scouting</b> page to 
    collect data about teams and robots by interviewing them in the pit.</p>
    
    <p class="padding">Use the <b>Match Scouting</b> page to collect data about 
    robots' performance during matches.</p>
    
    <p class="padding">Use the <b>Synchronize</b> page to export the data 
    recorded on the tablet to external media for importing into the server that 
    runs on a laptop or other machine, and also to import the latest data 
    provided by the server component.</p>
    
    <p class="padding">Use the <b>Configuration</b> screen to set certain 
    configuration items, such as the path that the tablet and server will store 
    files on the external media.</p>
  </ion-content>
</ion-view>