<ion-view title="Match Scouting">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="row row-green">
                <div class="col col-33">
                    <label class="item item-input item-select"> 
                        <span class="input-label">Team name</span>
                        <select 
                            ng-model="team" 
                            id="team" 
                            ng-options="option.name for option in teams track by option.id"
                            ng-model="team"
                            ng-change="selectTeam()"></select>
                    </label>
                </div>
                <div class="col col-33">
                    <label class="item item-input item-select"> 
                        <span class="input-label">Robot name</span>
                        <select 
                            ng-model="selectedRobot" 
                            id="selectedRobot" 
                            ng-options="option.name for option in robots track by option.id"
                            ng-model="selectedRobot"
                            ng-change="selectRobot()"></select>
                    </label>
                </div>
                <div class="col col-33">
                    <label class="item item-input item-select"> 
                        <span class="input-label">Match number</span>
                        <select 
                            ng-model="match"
                            id="match"
                            ng-options="option.number for option in matches track by option.id"
                            ng-model="match"
                            ng-change="selectMatch()"></select>
                    </label>
                </div>
            </div>
            <div class="row row-blue">
                <div class="col col-33">
                    <div class="item item-input-inset">                                
                        Boulders/low goal&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-plus"></button>
                        &nbsp;&nbsp;<div id="numLow">0</div>&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-minus"></button>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="item item-input-inset">
                        Boulders/high goal&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-plus"></button>
                        &nbsp;&nbsp;<div id="numHigh">0</div>&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-minus"></button>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="item item-input-inset">
                        # Fouls&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-plus"></button>
                        &nbsp;&nbsp;<div id="numF">0</div>&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-minus"></button>
                    </div>
                </div>
            </div>
            <div class="row row-yellow">
                <div class="col col-33">
                    <div class="item item-input-inset">                                
                        Boulders/low goal&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-plus"></button>
                        &nbsp;&nbsp;<div id="numLow">0</div>&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-minus"></button>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="item item-input-inset">                                
                        Boulders/low goal&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-plus"></button>
                        &nbsp;&nbsp;<div id="numLow">0</div>&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-minus"></button>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="item item-input-inset">                                
                        Boulders/low goal&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-plus"></button>
                        &nbsp;&nbsp;<div id="numLow">0</div>&nbsp;&nbsp;
                        <button class="button button-small button-positive icon ion-minus"></button>
                    </div>
                </div>
            </div>







            <div class="list card">
                <div class="item item-divider">Autonomous</div>
                <div class="item item-body">
                    <form class="list">
                        <ion-item class="range range-positive"># Times traversed the low bar
                            <input type="range" value="0" min="0" max="8" ng-model="lowBarA" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the portcullis
                            <input type="range" value="0" min="0" max="8" ng-model="portT" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the cheval de frise
                            <input type="range" value="0" min="0" max="8" ng-model="chevA" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the moat
                            <input type="range" value="0" min="0" max="8" ng-model="moatA" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the rampart
                            <input type="range" value="0" min="0" max="8" ng-model="rampartA" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the rock wall
                            <input type="range" value="0" min="0" max="8" ng-model="rockA" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the rough terrain
                            <input type="range" value="0" min="0" max="8" ng-model="roughA" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the sally port
                            <input type="range" value="0" min="0" max="8" ng-model="sallyA" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the drawbridge
                            <input type="range" value="0" min="0" max="8" ng-model="drawA" ng-change="selectRobot()">
                        </ion-item>
                    </form>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Teleop</div>
                <div class="item item-body">
                    <form class="list">
                        <ion-item class="range range-positive"># Times traversed the low bar
                            <input type="range" value="0" min="0" max="8" ng-model="lowBarT" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the portcullis
                            <input type="range" value="0" min="0" max="8" ng-model="portA" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the cheval de frise
                            <input type="range" value="0" min="0" max="8" ng-model="chevT" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the moat
                            <input type="range" value="0" min="0" max="8" ng-model="moatT" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the rampart
                            <input type="range" value="0" min="0" max="8" ng-model="rampartT" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the rock wall
                            <input type="range" value="0" min="0" max="8" ng-model="rockT" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the rough terrain
                            <input type="range" value="0" min="0" max="8" ng-model="roughT" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the sally port
                            <input type="range" value="0" min="0" max="8" ng-model="sallyT" ng-change="selectRobot()">
                        </ion-item>
                        <ion-item class="range range-positive"># Times traversed the drawbridge
                            <input type="range" value="0" min="0" max="8" ng-model="drawT" ng-change="selectRobot()">
                        </ion-item>
                    </form>
                </div>
            </div>

            <label class="item item-select" ng-model="scaled">
                <span class="input-label">Did the robot scale the tower?</span>
                <select 
                    ng-model="scaled" 
                    id="scaled" 
                    ng-options="option.name for option in data.yesNo track by option.id"
                    ng-model="scaled"
                    ng-change="robotChanged()"
                    ng-disabled="disableFields()"></select>
            </label>
            <label class="item item-select" ng-model="challenge">
                <span class="input-label">Did the robot challenge the tower?</span>
                <select 
                    ng-model="challenge" 
                    id="challenge" 
                    ng-options="option.name for option in data.yesNo track by option.id"
                    ng-model="challenge"
                    ng-change="robotChanged()"
                    ng-disabled="disableFields()"></select>
            </label>
            <ion-item class="range range-positive">Number of fouls generated
                <input type="range" value="0" min="0" max="5" ng-model="numF" ng-change="selectRobot()">
            </ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="borked" ng-change="selectRobot()">The robot became inoperable</ion-toggle>
            <label class="item item-select" ng-model="bFloor">
                <span class="input-label">How well did the robot pick up boulders from the floor?</span>
                <select 
                    ng-model="bFloor" 
                    id="bFloor" 
                    ng-options="option.name for option in data.judgment track by option.id"
                    ng-model="bFloor"
                    ng-change="robotChanged()"
                    ng-disabled="disableFields()"></select>
            </label>
            <label class="item item-select" ng-model="bSecret">
                <span class="input-label">How well did the robot pick up boulders from the secret passage</span>
                <select 
                    ng-model="bSecret" 
                    id="bSecret" 
                    ng-options="option.name for option in data.judgment track by option.id"
                    ng-model="bSecret"
                    ng-change="robotChanged()"
                    ng-disabled="disableFields()"></select>
                </select>
            </label>
            <label class="item item-select" ng-model="defense">
                <span class="input-label">How well did the robot play defense</span>
                <select 
                    ng-model="defense" 
                    id="defense" 
                    ng-options="option.name for option in data.judgment track by option.id"
                    ng-model="defense"
                    ng-change="robotChanged()"
                    ng-disabled="disableFields()"></select>
                </select>
            </label>
            <label class="item item-select" ng-model="spyComm1">
                <span class="input-label">How well did the team spy communicate</span>
                <select 
                    ng-model="spyComm1" 
                    id="spyComm1" 
                    ng-options="option.name for option in data.judgment track by option.id"
                    ng-model="spyComm1"
                    ng-change="robotChanged()"
                    ng-disabled="disableFields()"></select>
                </select>
            </label>
            <label class="item item-select" ng-model="spyComm2">
                <span class="input-label">How well did the drive team use spy communication?</span>
                <select 
                    ng-model="spyComm2" 
                    id="spyComm2" 
                    ng-options="option.name for option in data.judgment track by option.id"
                    ng-model="spyComm2"
                    ng-change="robotChanged()"
                    ng-disabled="disableFields()"></select>
            </label>
        </form>
    </ion-content>
</ion-view>