<ion-view view-title="Match Scouting">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-controller="MatchCtrl" class="padding">
            <form name="MatchScoutForm">
                <div class="row row-blue">
                    <div class="col col-33">
                        <label class="item item-input item-select"> 
                            <span class="input-label">Team name</span>
                            <select 
                                id="team" 
                                ng-options="option.number + ' - ' + option.name for option in teams track by option.id"
                                ng-model="team"
                                ng-change="selectTeam()"></select>
                        </label>
                    </div>
                    <div class="col col-33">
                        <label class="item item-input item-select"> 
                            <span class="input-label">Robot name</span>
                            <select 
                                id="selectedRobot" 
                                ng-options="option.name for option in robots track by option.id"
                                ng-model="selectedRobot"
                                ng-change="selectRobot()"></select>
                        </label>
                    </div>
                    <div class="col col-33">
                        <label class="item item-input item-select"> 
                            <span class="input-label">Match number</span>
                            <select 
                                id="match"
                                ng-options="option.number for option in matches track by option.id"
                                ng-model="match"
                                ng-change="selectMatch()"></select>
                        </label>
                    </div>
                </div>
                <div class="row row-blue">
                    <div class="col">
                        <div class="item item-input-inset">
                            <div class="numLabel"># Fouls</div>
                            <button 
                                class="button button-small button-assertive icon ion-minus" 
                                ng-disabled="disableMatchFields()"
                                ng-click="decField('numF')"></button>
                            &nbsp;&nbsp;<div id="numF">{{ numF }}</div>&nbsp;&nbsp;
                            <button 
                                class="button button-small button-balanced icon ion-plus" 
                                ng-disabled="disableMatchFields()"
                                ng-click="incField('numF')"></button>
                        </div>
                    </div>
                </div>


                <div class="row padding">
                     <div class="col">
                        <div class="button-bar">
                          <a 
                            class="button" 
                            ng-class="{'button-positive': isActiveFields('auto')}" 
                            ng-click="toggleFields('auto');"
                            ng-disabled="disableMatchFields()">Auto</a>
                          <a 
                            class="button"
                            ng-class="{'button-positive': isActiveFields('tele')}" 
                            ng-click="toggleFields('tele');"
                            ng-disabled="disableMatchFields()">Tele</a>
                          <a 
                            class="button" 
                            ng-class="{'button-positive': isActiveFields('post')}" 
                            ng-click="toggleFields('post');"
                            ng-disabled="disableMatchFields()">Post</a>
                        </div>
                     </div>
                </div>


                <div class="list card">
                    <!--div class="item item-divider" ng-show="displayField('auto')">Autonomous</div-->
                    <div class="item item-body" ng-show="displayField('auto')">
                        <div class="row row-yellow">
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Boulders/low goal</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('numLowA')"></button>
                                    &nbsp;&nbsp;<div id="numLowA">{{ numLowA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('numLowA')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Boulders/high goal</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('numHighA')"></button>
                                    &nbsp;&nbsp;<div id="numHighA">{{ numHighA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('numHighA')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                            </div>
                        </div>

                        <div class="row row-yellow">
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Low bar</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('lowBarA')"></button>
                                    &nbsp;&nbsp;<div id="lowBarA">{{ lowBarA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('lowBarA')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Portcullis</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('portA')"></button>
                                    &nbsp;&nbsp;<div id="portA">{{ portA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('portA')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Cheval de frise</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('chevA')"></button>
                                    &nbsp;&nbsp;<div id="chevA">{{ chevA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('chevA')"></button>
                                </div>
                            </div>
                        </div>

                        <div class="row row-yellow">
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Moat</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('moatA')"></button>
                                    &nbsp;&nbsp;<div id="moatA">{{ moatA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('moatA')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Rampart</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('rampA')"></button>
                                    &nbsp;&nbsp;<div id="rampA">{{ rampA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('rampA')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Rock wall</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('rockA')"></button>
                                    &nbsp;&nbsp;<div id="rockA">{{ rockA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('rockA')"></button>
                                </div>
                            </div>
                        </div>

                        <div class="row row-yellow">
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Rough terrain</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('roughA')"></button>
                                    &nbsp;&nbsp;<div id="roughA">{{ roughA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('roughA')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Sally port</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('sallyA')"></button>
                                    &nbsp;&nbsp;<div id="sallyA">{{ sallyA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('sallyA')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Drawbridge</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('drawA')"></button>
                                    &nbsp;&nbsp;<div id="drawA">{{ drawA }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('drawA')"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--div class="item item-divider" ng-show="displayField('tele')">Teleop</div-->
                    <div class="item item-body" ng-show="displayField('tele')">
                        <div class="row row-green">
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Boulders/low goal</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('numLowT')"></button>
                                    &nbsp;&nbsp;<div id="numLowT">{{ numLowT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('numLowT')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Boulders/high goal</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('numHighT')"></button>
                                    &nbsp;&nbsp;<div id="numHighT">{{ numHighT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('numHighT')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                            </div>
                        </div>

                        <div class="row row-green">
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Low bar</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('lowBarT')"></button>
                                    &nbsp;&nbsp;<div id="lowBarT">{{ lowBarT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('lowBarT')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Portcullis</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('portT')"></button>
                                    &nbsp;&nbsp;<div id="portT">{{ portT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('portT')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Cheval de frise</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('chevT')"></button>
                                    &nbsp;&nbsp;<div id="chevT">{{ chevT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('chevT')"></button>
                                </div>
                            </div>
                        </div>

                        <div class="row row-green">
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Moat</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('moatT')"></button>
                                    &nbsp;&nbsp;<div id="moatT">{{ moatT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('moatT')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Rampart</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('rampT')"></button>
                                    &nbsp;&nbsp;<div id="rampT">{{ rampT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('rampT')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Rock wall</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('rockT')"></button>
                                    &nbsp;&nbsp;<div id="rockT">{{ rockT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('rockT')"></button>
                                </div>
                            </div>
                        </div>

                        <div class="row row-green">
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Rough terrain</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('roughT')"></button>
                                    &nbsp;&nbsp;<div id="roughT">{{ roughT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('roughT')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Sally port</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('sallyT')"></button>
                                    &nbsp;&nbsp;<div id="sallyT">{{ sallyT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('sallyT')"></button>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="item item-input-inset">
                                    <div class="numLabel">Drawbridge</div>
                                    <button 
                                        class="button button-small button-assertive icon ion-minus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="decField('drawT')"></button>
                                    &nbsp;&nbsp;<div id="drawT">{{ drawT }}</div>&nbsp;&nbsp;
                                    <button 
                                        class="button button-small button-balanced icon ion-plus" 
                                        ng-disabled="disableMatchFields()"
                                        ng-click="incField('drawT')"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--div class="item item-divider" ng-show="displayField('post')">Post-match</div-->
                    <div class="item item-body" ng-show="displayField('post')">
                        <div class="row row-pink">
                            <div class="col col-33">
                                <label class="item item-select">
                                    <span class="input-label">Challenge tower?</span>
                                    <select 
                                        id="challenge" 
                                        ng-options="option.name for option in data.yesNo track by option.id"
                                        ng-model="challenge"
                                        ng-change="robotMatchChanged()"
                                        ng-disabled="disableMatchFields()"></select>
                                </label>
                            </div>
                            <div class="col col-33">
                                <label class="item item-select">
                                    <span class="input-label">Scale tower?</span>
                                    <select 
                                        id="scaled" 
                                        ng-options="option.name for option in data.yesNo track by option.id"
                                        ng-model="scaled"
                                        ng-change="robotMatchChanged()"
                                        ng-disabled="disableMatchFields()"></select>
                                </label>
                            </div>
                            <div class="col col-33">
                                <label class="item item-select">
                                    <span class="input-label">Robot broke?</span>
                                    <select 
                                        id="borked" 
                                        ng-options="option.name for option in data.yesNo track by option.id"
                                        ng-model="borked"
                                        ng-change="robotMatchChanged()"
                                        ng-disabled="disableMatchFields()"></select>
                                </label>
                            </div>
                        </div>

                        <div class="row row-pink">
                            <div class="col col-33">
                                <label class="item item-select">
                                    <span class="input-label">Boulders/floor:</span>
                                    <select 
                                        id="bFloor" 
                                        ng-options="option.name for option in data.judgment track by option.id"
                                        ng-model="bFloor"
                                        ng-change="robotMatchChanged()"
                                        ng-disabled="disableMatchFields()"></select>
                                </label>
                            </div>
                            <div class="col col-33">
                                <label class="item item-select">
                                    <span class="input-label">Boulders/pass:</span>
                                    <select 
                                        id="bSecret" 
                                        ng-options="option.name for option in data.judgment track by option.id"
                                        ng-model="bSecret"
                                        ng-change="robotMatchChanged()"
                                        ng-disabled="disableMatchFields()"></select>
                                    </select>
                                </label>
                            </div>
                            <div class="col col-33">
                                <label class="item item-select">
                                    <span class="input-label">Played defense</span>
                                    <select 
                                        id="defense" 
                                        ng-options="option.name for option in data.judgment track by option.id"
                                        ng-model="defense"
                                        ng-change="robotMatchChanged()"
                                        ng-disabled="disableMatchFields()"></select>
                                    </select>
                                </label>
                            </div>
                        </div>

                        <div class="row row-pink">
                            <div class="col col-50">
                                <label class="item item-select" ng-model="spyComm1">
                                    <span class="input-label">Team spy communicated:</span>
                                    <select 
                                        id="spyComm1" 
                                        ng-options="option.name for option in data.judgment track by option.id"
                                        ng-model="spyComm1"
                                        ng-change="robotMatchChanged()"
                                        ng-disabled="disableMatchFields()"></select>
                                    </select>
                                </label>
                            </div>
                            <div class="col col-50" valign="top">
                                <button
                                    class="button button-balanced button-block"
                                    ng-click="submitMatch()">Submit</button>
                            </div>

                            <!--div class="col col-50">
                                <label class="item item-select" ng-model="spyComm2">
                                    <span class="input-label">Team used spy communication:</span>
                                    <select 
                                        ng-model="spyComm2" 
                                        id="spyComm2" 
                                        ng-options="option.name for option in data.judgment track by option.id"
                                        ng-model="spyComm2"
                                        ng-change="robotMatchChanged()"
                                        ng-disabled="disableMatchFields()"></select>
                                </label>
                            </div-->
                        </div>
                    </div>
                </div>            
            </form>
        </div>
    </ion-content>
</ion-view>