<ion-view view-title="Match Scouting">
    <ion-content>
        <div ng-controller="MatchScoutingController" class="padding">
            <form name="MatchScoutForm">
                <div class="list">
                    <label class="item item-input item-select"> 
                        <span class="input-label">Team name</span>
                        <select 
                            name="team" 
                            id="team" 
                            ng-options="option.name for option in teams track by option.id"
                            ng-model="team"
                            ng-change="selectTeam()"></select>
                    </label>
    
                    <label class="item item-input item-select"> 
                        <span class="input-label">Robot name</span>
                        <select 
                            name="selectedRobot" 
                            id="selectedRobot" 
                            ng-options="option.name for option in robots track by option.id"
                            ng-model="selectedRobot"
                            ng-change="selectRobot()"></select>
                    </label>
    
                    <label class="item item-input item-select"> 
                        <span class="input-label">Match number</span>
                        <select 
                            name="match"
                            id="match"
                            ng-options="option.number for option in matches track by option.id"
                            ng-model="match"
                            ng-change="selectMatch()"></select>
                    </label>
                    
                    <label class="item item-input item-select">
                        <span class="input-label">Drive speed</span> 
                        <select 
                            name="driveSpeed" 
                            id="driveSpeed" 
                            ng-options="option.name for option in data.driveSpeeds track by option.id"
                            ng-model="driveSpeed"
                            ng-change="robotMatchChanged()"></select>
                    </label>

          
                    <label class="item item-input item-select">
                        <span class="input-label">Bot can drive over platform</span> 
                        <select 
                            name="driveOverPlatform" 
                            id="driveOverPlatform" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="driveOverPlatform"
                            ng-change="robotMatchChanged()"></select>
                    </label>
          
                    <label class="item item-input item-select">
                        <span class="input-label">Bot set</span> 
                        <select 
                            name="botSet" 
                            id="botSet" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="botSet"
                            ng-change="robotMatchChanged()"></select>
                    </label>
          
                    <label class="item item-input item-select">
                        <span class="input-label">Tote set</span> 
                        <select 
                            name="toteSet" 
                            id="toteSet" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="toteSet"
                            ng-change="robotMatchChanged()"></select>
                    </label>
          
                    <label class="item item-input item-select">
                        <span class="input-label">Container set</span> 
                        <select 
                            name="containerSet" 
                            id="containerSet" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="containerSet"
                            ng-change="robotMatchChanged()"></select>
                    </label>
          
                    <label class="item item-input item-select">
                        <span class="input-label">Stacked tote set</span> 
                        <select 
                            name="stackedToteSet" 
                            id="stackedToteSet" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="stackedToteSet"
                            ng-change="robotMatchChanged()"></select>
                    </label>
                    
                    <label class="item item-input range">
                        <span class="input-label">Coop Score on Step</span>
                        <input 
                            type="range" 
                            name="coopScoreStep" 
                            min="0" 
                            max="3" 
                            value="0" 
                            ng-model="coopScoreStep" 
                            ng-change="robotMatchChanged()">
                        {{data.coopScoreStep}}
                    </label>
                    
                    <label class="item item-input item-select">
                        <span class="input-label">Feedstation Pickup</span> 
                        <select 
                            name="feedstation" 
                            id="feedstation" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="feedstation"
                            ng-change="robotMatchChanged()"></select>
                    </label>
                    
                    <label class="item item-input item-select">
                        <span class="input-label">Landfill Pickup</span> 
                        <select 
                            name="landfill" 
                            id="landfill" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="landfill"
                            ng-change="robotMatchChanged()"></select>
                    </label>

                    <label class="item item-input range">
                        <span class="input-label">Scored Tote Height</span>
                        <input 
                            type="range" 
                            name="scoredToteHeight" 
                            min="0" 
                            max="6" 
                            ng-model="scoredToteHeight"
                            ng-change="robotMatchChanged()">
                        {{data.scoredToteHeight}}
                    </label>
                    
                    <label class="item item-input item-select">
                        <span class="input-label">Container Pickup from Step</span> 
                        <select 
                            name="containerStep" 
                            id="containerStep" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="containerStep"
                            ng-change="robotMatchChanged()"></select>
                    </label>
                    
                    <label class="item item-input range">
                        <span class="input-label">Container Independent Score Height</span>
                        <input 
                            type="range" 
                            name="scoredIndContainerHeight" 
                            min="0" 
                            max="6" 
                            ng-model="scoredIndContainerHeight"
                            ng-change="robotMatchChanged()">
                        {{data.scoredIndContainerHeight}}
                    </label>
                    
                    <label class="item item-input range">
                        <span class="input-label">Container Score Height</span>
                        <input 
                            type="range" 
                            name="scoredContainerHeight" 
                            min="0" 
                            max="6" 
                            ng-model="scoredContainerHeight"
                            ng-change="robotMatchChanged()">
                        {{data.scoredContainerHeight}}
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>