<ion-view view-title="Pit Scouting">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-controller="PitScoutingController" class="padding">
            <form name="PitScoutForm">
                <div class="list">
                
                    <label class="item item-select" name="teamId">
                        <span class="input-label">Team number</span>
                        <select 
                            name="team" 
                            id="team" 
                            ng-options="option.number + ' - ' + option.name for option in teams track by option.id"
                            ng-model="team"
                            ng-change="selectTeam()"></select>
                    </label>
                    <label class="item item-input item-select"> 
                        <span class="input-label">Robot name</span>
                        <select 
                            name="selectedRobot" 
                            id="selectedRobot" 
                            ng-options="option.name for option in robots track by option.id"
                            ng-model="selectedRobot"
                            ng-change="selectRobot()"></select>
                    </label>
                    <label class="item item-input" name="driveType">
                        <span class="input-label">What drive type does your robot have?</span>
                        <input type="text" placeholder="" ng-model="driveType" ng-change="robotChanged()">
                    </label>
                    <label class="item item-input" name="height">
                        <span class="input-label">What is your robot's height in inches?</span>
                        <input type="number" placeholder="" ng-model="height" ng-change="robotChanged()">
                    </label>
                    <label class="item item-input" name="notes">
                        <span class="input-label">What is your strategy/what are your strengths?</span>
                        <textarea placeholder="" ng-model="notes" ng-change="robotChanged()"> </textarea>
                    </label>
                    <label class="item item-select" name="runAuto">
                        <span class="input-label">Does your robot run in autonomous?</span>
                        <select 
                            name="runAuto" 
                            id="runAuto" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="runAuto"
                            ng-change="robotChanged()"
                            ng-disabled="disableFields()"></select>
                    </label>
                    <ion-item class="item-divider">Which of the outer works can you traverse in autonomous?</ion-item>

                    <ion-list>
                        <ion-checkbox 
                            ng-repeat="owa in owaList track by $index" 
                            class="checkbox-positive" 
                            type="checkbox" 
                            id="{{owa.id}}" 
                            ng-model="owa.checked" 
                            ng-true-value=1
                            ng-false-value=0
                            ng-change="robotChanged()">
                            {{ owa.label }}
                        </ion-checkbox>
                    </ion-list>

                    <ion-item class="item-divider">Which of the outer works can you traverse in teleop?</ion-item>

                    <ion-list>
                        <ion-checkbox 
                            ng-repeat="owt in owtList track by $index" 
                            class="checkbox-positive" 
                            type="checkbox" 
                            id="{{owT.id}}" 
                            ng-model="owt.checked" 
                            ng-true-value=1
                            ng-false-value=0
                            ng-change="robotChanged()">
                            {{ owt.label }}
                        </ion-checkbox>
                    </ion-list>
                    
                    <ion-item class="item-divider">From what location does your robot score during autonomous?</ion-item>

                    <ion-list>
                        <ion-checkbox 
                            ng-repeat="position in scorePosition track by $index" 
                            class="checkbox-positive" 
                            type="checkbox" 
                            id="{{position.id}}" 
                            ng-model="position.checked" 
                            ng-true-value=1
                            ng-false-value=0
                            ng-change="robotChanged()">
                            {{ position.label }}
                        </ion-checkbox>
                    </ion-list>
                    
                    <ion-item class="item-divider">How does your robot score tower damage points during teleop?</ion-item>

                    <ion-list>
                        <ion-checkbox 
                            ng-repeat="topBottom in pickup track by $index" 
                            class="checkbox-positive" 
                            type="checkbox" 
                            id="{{topBottom.id}}" 
                            ng-model="topBottom.checked" 
                            ng-true-value=1
                            ng-false-value=0
                            ng-change="robotChanged()">
                            {{ topBottom.label }}
                        </ion-checkbox>
                    </ion-list>

                    <ion-item class="item-divider">Where can your robot pick up boulders from?</ion-item>

                    <ion-list>
                        <ion-checkbox 
                            ng-repeat="b in boulders track by $index" 
                            class="checkbox-positive" 
                            type="checkbox" 
                            id="{{b.id}}" 
                            ng-model="b.checked" 
                            ng-true-value=1
                            ng-false-value=0
                            ng-change="robotChanged()">
                            {{ b.label }}
                        </ion-checkbox>
                    </ion-list>

                    <ion-item class="item-divider">Other questions</ion-item>
                    
                    <ion-list>
                        <ion-checkbox 
                            ng-repeat="q in randomQs track by $index" 
                            class="checkbox-positive" 
                            type="checkbox" 
                            id="{{q.id}}" 
                            ng-model="q.checked" 
                            ng-true-value=1
                            ng-false-value=0
                            ng-change="robotChanged()">
                            {{ q.label }}
                        </ion-checkbox>
                    </ion-list>

                    <label class="item item-select" name="spyReq">
                        <span class="input-label">Do you need a spy (human) to guide your robot?</span>
                        <select 
                            name="spyReq" 
                            id="spyReq" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="spyReq"
                            ng-change="robotChanged()"
                            ng-disabled="disableFields()"></select>
                    </label>
                    <label class="item item-select" name="spyDoc">
                        <span class="input-label">Do you have a documented, easy-to-learn signaling method?</span>
                        <select 
                            name="spyDoc" 
                            id="spyDoc" 
                            ng-options="option.name for option in data.yesNo track by option.id"
                            ng-model="spyDoc"
                            ng-change="robotChanged()"
                            ng-disabled="disableFields()"></select>
                    </label>
                    
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>